
<ng-container *ngIf="!modalDisplay;else popModal">
  <ng-container *ngIf="isAvailable;else noQuestions">
  <div class="container mx-auto flex flex-col space-y-6 pb-10 mt-24 md:mt-24">
  <ng-container *ngIf="questions && !showCongratsPage;else congratsPage">
    <div>
    <p class="text-center text-darkblue text-2xl font-extrabold md:text-3xl">00:{{setTimerValue(timer)}}</p>
  </div>
  <!-- Buttons -->
  <div class="flex items-center justify-center space-x-6">
    <p class="bg-darkblue text-white px-4 py-3 cursor-pointer focus:outline-none rounded-full font-semibold text-sm md:text-xl md:px-4 md:py-3"
    (click) = "handleNext()"><i class="fa-solid fa-arrow-right"></i></p>
    <p class="bg-darkblue text-white cursor-pointer px-4 py-3 focus:outline-none rounded-full font-semibold text-sm md:text-xl md:px-4 md:py-3"
    (click)="handlePrevious()"><i class="fa-solid fa-arrow-left"></i></p>
    <p class="bg-darkblue text-white px-4 cursor-pointer py-3 focus:outline-none rounded-full font-semibold text-sm md:text-xl md:px-4 md:py-3"
    (click)="handleReset()"><i class="fa-solid fa-ban"></i></p>
  </div>

  <!-- Question -->
  <div class="px-8 md:px-4" *ngIf="questions">
    <p class="text-xl text-darkblue font-bold tracking-wide leading-relaxed md:text-2xl md:font-semibold md:text-center">{{questions[index].question}}</p>
  </div>

  <!-- Answer -->
  <div class="px-8 md:px-10" *ngIf="questions && showAnswer">
    <div class="shadow-lg rounded-md bg-green-600">
      <p class="text-xl text-white font-bold md:text-center px-3 py-2 md:px-0">Answer - {{questions[index].answer}}</p>
    </div>

    <div class="rounded-md shadow-xl bg-slate-400 mt-3 font-bold">
      <p class="text-xl text-white text-center pt-3">
         Scripture: {{questions[index].verse}}
      </p>
      <div class="text-white text-center pb-2 px-3" [innerHTML]="questions[index].passage"></div>
    </div>

  </div>

  <!-- Buttons -->

  <div class="flex flex-col space-y-4 px-8 justify-center pt-10 items-center md:flex-row md:space-x-4 md:space-y-0">
    <button class="btn" (click)= "handleDisplayAnswer()">Display Answer</button>
    <ng-container *ngIf="isSavedQuestions;else notSaveQuestion">
      <button class="btn" (click)="removeSavedQuestions()">Remove All Questions</button>
    </ng-container>

    <ng-template #notSaveQuestion>
      <button class="btn" (click)="saveQuestionToDb(questions[index].question, questions[index].answer)">Save Question</button>
    </ng-template>

    <!-- <button class="btn" (click)= "showModal()">View Scripture</button> -->
    <ng-container *ngIf="!questions[index].passage || questions[index].passage.length < 1">
      <button class="btn" (click)="getQuestionScripture(questions[index].id, questions[index].source)">View Scripture</button>
    </ng-container>


  </div>

  </ng-container>

  <ng-template #congratsPage>
   <div class="flex flex-col items-center justify-center space-y-10 pt-7 md:space-y-6">
    <img class="h-72 w-64 md:w-72" src="../../../assets/section-complete.png">
    <h1 class="text-2xl px-10 leading-snug text-center text-darkblue font-semibold uppercase">Yay!! Congrats on completing this section</h1>
    <button class="btn mx-auto" routerLink="/section">Back to Section</button>
  </div>
  </ng-template>


</div>
</ng-container>

<ng-template #noQuestions>
  <div class="flex flex-col items-center justify-center space-y-14 pt-7 mt-32 md:mt-36 md:pt-5">
    <img class="h-64 w-60 md:h-60" src="../../../assets/no-result-found.png">
    <h1 class="text-2xl px-10 leading-snug text-center text-darkblue font-semibold uppercase">No questions available at the moment</h1>
  </div>
</ng-template>
</ng-container>



<ng-template #popModal>
  <app-scripture [content]="content" [bookName]="bookName" (modalBoolValue) = 'receiveModalBoolValue($event)'>

  </app-scripture>
</ng-template>

