<div class="relative w-64 md:flex-grow">
        <!-- Purple background -->
        <div class="absolute -right-5 -bottom-5 bg-darkblue h-full w-full rounded-xl"></div>

        <div class="relative bg-lightdarkblue text-darkblue rounded-xl p-8 space-y-7 h-72">
        <!-- Purple line -->
        <div class="h-2 w-20 bg-darkblue"></div>
        <div class="text-3xl font-extrabold text-lightGray">{{title}}</div>
        <p class="leading-snug text-lightGray">{{description}}</p>
        <a class="text-darkblue font-bold tracking-wide flex cursor-pointer">
          <span>Get started</span>
          <span>
                 <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
</svg>
          </span>


        </a>
        </div>
      </div>
