<app-nav-bar></app-nav-bar>

<!-- Hero Section -->
<section id="hero">
  <!-- Flex Container -->
  <div class="container flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
    <!-- Left Item -->
    <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
      <h1 class="max-w-md text-3xl font-bold text-center md:text-4xl md:text-left lg:text-5xl sm:text-xl leading-snug">
        Compilation of Questions to Enhance Quiz Preparation
      </h1>
      <p class="max-w-sm text-center text-lightdarkblue md:text-left">
        Enhance your Bible quiz readiness and elevate your competition performance with a comprehensive array of resources designed to aid in your preparation.
      </p>
      <div class="flex justify-center md:justify-start">
        <a class="btn">Get Started</a>
      </div>
    </div>

    <!-- Image -->
    <div class="md:w-1/2">
      <img src="../assets/quiz.webp" class="h-56 md:h-full" alt="">
    </div>
  </div>
</section>

<!-- Features -->
<section id="features" class="bg-gray-200 pt-12 pb-24">
  <div class="container flex flex-col px-4 mx-auto space-y-12 md:space-y-0 ">
    <h1 class="text-darkblue font-semibold mt-8 text-center text-4xl uppercase md:mb-10"
    >Sections</h1>
    <!-- Card -->
    <div class="grid grid-cols-1 place-items-center
    md:grid-cols-2 md:space-y-0 gap-10 lg:grid-cols-3 lg:space-x-14 lg:space-y-0">

      <!-- Single Card -->
      <app-card [title]="'Biblequizzes'" [description]="'Questions in this section were sourced from biblequizzes.org.uk '"></app-card>
      <app-card [title]="'Author'" [description]="'The author has contributed to questions in this section'"></app-card>
      <app-card [title]="'Missed'" [description]="'Questions missed from other sections will be added here for you to look over again'"></app-card>
    </div>
  </div>
</section>


<!-- Instructions -->
<section id="instructions">
  <div class="container flex flex-col px-4 pb-16 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row">

    <div class="flex flex-col space-y-12 md:w-1/2">
      <h2 class="max-w-md text-4xl font-bold text-center md:text-left">About</h2>
      <p class="max-w-sm text-center text-darkGrayishBlue md:text-left md:w-9/12">
        Read the following to have a fair idea on how this application works
      </p>
    </div>

    <!-- Numbered Instructions -->
    <div class="flex flex-col space-y-8 px-6 md:w-1/2 md:space-y-7 md:px-0">

      <app-instructions [messageNumber] = "'1'" [messageTitle] = "'Question Type'" [messageDescription] = "'Options are not provided for any question. Click on the \'Display Answer\' button to view the answer for the respective question.'"></app-instructions>

      <app-instructions [messageNumber] = "'2'" [messageTitle] = "'Question Tracker'" [messageDescription] = "'A side bar is provided to help you track your progress.'"></app-instructions>

      <app-instructions [messageNumber] = "'3'" [messageTitle] = "'Missed Section'" [messageDescription] = "'If you are unsure about any question and would like to revisit it, click on the \'Wrong\' button, and you will find it in the \'Missed\' section.'"></app-instructions>





    </div>
  </div>
</section>


<!-- cta -->
<section id="cta" class="bg-darkblue">
  <div class="container flex flex-col items-center justify-between px-6 py-24 mx-auto space-y-12
  md:py-12 md:flex-row md:space-y-0">
  <h2 class="text-5xl font-bold leading-tight text-center text-white md:text-4xl ms:max-w-xl md:text-left">
    Prepare with ease
  </h2>

  <div>
    <a href="#" class="btn-sec">Get started</a>
  </div>
  </div>

</section>

<!-- Footer -->
<section id="footer" class="bg-black">
  <p class="text-white text-center p-3">Developed by <a href="mailto:onafesowale@gmail.com" class="text-lightdarkblue">Wale</a>
</p>
</section>

