<div class="container mx-auto flex flex-col space-y-12 mt-32 md:flex-row md:space-y-0 md:py-8">
  <!-- Image -->
  <div class="md:w-1/2">
    <img class="h-72 md:h-80" src="../../assets/section.png" alt="options">
  </div>

  <!-- Options -->
  <div class="flex flex-col space-y-6 md:w-1/2">
    <h2 class="text-center font-semibold text-2xl uppercase text-darkblue leading-tight md:text-3xl">Select a section</h2>

    <div class="flex flex-col items-center space-y-6">
      <p class="text-white text-sm bg-darkblue px-8 py-4 rounded-full max-w-sm cursor-pointer font-semibold shadow-neutral-950 shadow-lg md:py-4 md:text-xl"
       routerLink="/section/biblequizzes">Section A</p>
      <p class="text-white text-sm bg-darkblue px-8 py-4  rounded-full max-w-sm cursor-pointer font-semibold shadow-neutral-950 shadow-lg md:py-4 md:text-xl"
      routerLink="/section/fesor">Section B</p>
      <p class="text-white text-sm bg-darkblue px-8 py-4  rounded-full max-w-sm cursor-pointer font-semibold shadow-neutral-950 shadow-lg md:py-4 md:text-xl"
      routerLink="/section/saved">Section C</p>
    </div>
  </div>

</div>
