<!-- Navbar -->
<nav class="relative container mx-auto p-6">
  <!-- Flex container -->
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <a class="pt-2 flex cursor-pointer outline-none border-none"routerLink="/">
      <img class="h-7" src="../assets/gtcc_logo.png" alt="">
      <p href="#" class="ml-2 font-semibold text-darkblue text-xl">GTCC</p>
    </a>

    <!-- Menu Items -->
    <div class="hidden space-x-6 md:flex">
      <a routerLink="/" class="uppercase font-medium cursor-pointer hover:text-darkblue"
      routerLinkActive="text-darkblue" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="/section" class=" uppercase font-medium cursor-pointer hover:text-darkblue"
      routerLinkActive="text-darkblue">Sections</a>
      <a routerLink="/daily-verse" class="uppercase font-medium cursor-pointer hover:text-darkblue"
      routerLinkActive="text-darkblue">Verse of the Day</a>
    </div>

    <!-- Button -->
    <a class="hidden btn md:block">Login</a>

    <!-- Hamburger Icon -->
      <div (click)="toggleMenu()" class="md:hidden">
        <i *ngIf="isVisible;else tog" class="text-darkblue text-2xl fa solid fa-times"></i>

        <ng-template #tog>
          <i class="text-2xl text-darkblue fa solid fa-bars"></i>
        </ng-template>
      </div>



  </div>

  <!-- Mobile Menu -->
  <div class="md:hidden" *ngIf="isVisible">
    <div class="absolute flex flex-col items-center self-end py-8 mt-10 space-y-6 font-bold bg-white
    sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
    <a routerLink="/" (click) ="toggleMenu()">Home</a>
    <a routerLink="/section" (click) ="toggleMenu()">Sections</a>
    <a routerLink="/daily-verse" (click) ="toggleMenu()">Verse of the Day</a>
    <a routerLink="" (click) ="toggleMenu()">Login</a>

    </div>
  </div>
</nav>
