
<ng-container #myContainer>
<!-- Hero Section -->
<section id="hero" class="mt-32">
  <!-- Flex Container -->
  <div class="container flex flex-col-reverse items-center px-6 mx-auto space-y-0 md:space-y-0 md:flex-row">
    <!-- Left Item -->
    <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
      <h1 class="max-w-md text-3xl font-bold text-center md:text-4xl md:text-left lg:text-5xl sm:text-xl leading-snug">
        Compilation of Questions to Enhance Quiz Preparation
      </h1>
      <p class="max-w-sm text-center text-lightdarkblue md:text-left">
        Enhance your Bible quiz readiness and elevate your competition performance with a comprehensive array of resources designed to aid in your preparation.
      </p>
      <div class="flex justify-center md:justify-start">
        <a class="btn">Get Started</a>
      </div>
    </div>

    <!-- Image -->
    <div class="md:w-1/2">
      <img src="../assets/quiz.webp" class="h-56 md:h-full" alt="">
    </div>
  </div>
</section>

<!-- Features -->
<section id="features" class="bg-gray-200 pt-12 pb-24">
  <div class="container flex flex-col px-4 mx-auto space-y-12 md:space-y-0 ">
    <h1 class="text-darkblue font-semibold mt-8 text-center text-4xl uppercase md:mb-10"
    >Sections</h1>
    <!-- Card -->
    <div class="grid grid-cols-1 place-items-center
    md:grid-cols-2 md:space-y-0 gap-10 lg:grid-cols-3 lg:space-x-14 lg:space-y-0">

      <!-- Single Card -->
      <app-card [title]="'Biblequizzes'" [description]="'Questions in this section were sourced from biblequizzes.org.uk '"
      [link]="'/section/biblequizzes'"></app-card>
      <app-card [title]="'Author'" [description]="'The author has contributed to questions in this section'"
      [link]="'/section/fesor'"></app-card>
      <app-card [title]="'Saved'" [description]="'Saved questions can be conveniently accessed at any time in this section'"
      [link]="'/section/saved'"></app-card>
    </div>
  </div>
</section>


<!-- Instructions -->
<section id="instructions">
  <div class="container flex flex-col px-4 pb-16 pt-6 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row">

    <div class="flex flex-col space-y-12 md:w-1/2">
      <h2 class="max-w-md text-4xl font-bold text-center md:text-left">About</h2>
      <p class="max-w-sm text-center text-darkGrayishBlue md:text-left md:w-9/12">
        Read the following to have a fair idea on how this application works
      </p>
    </div>

    <!-- Numbered Instructions -->
    <div class="flex flex-col space-y-8 px-6 md:w-1/2 md:space-y-7 md:px-0">

      <app-instructions [messageNumber] = "'1'" [messageTitle] = "'Question Type'" [messageDescription] = "'Options are not provided for any question. Click on the \'Display Answer\' button to view the answer to the respective question.'"></app-instructions>

      <app-instructions [messageNumber] = "'2'" [messageTitle] = "'Saved Progress'" [messageDescription] = "'To save your progress and resume from where you left off, click on the button with the save icon (diskette)'"></app-instructions>

      <app-instructions [messageNumber] = "'3'" [messageTitle] = "'Saved Section'" [messageDescription] = "'You can save questions you would like to revisit, click on the \'Save Question\' button in any question and it will be saved.'"></app-instructions>

    </div>
  </div>
</section>


<!-- cta -->
<section id="cta" class="bg-darkblue">
  <div class="container flex flex-col items-center justify-between px-6 py-24 mx-auto space-y-12
  md:py-24 md:flex-row md:space-y-0">
  <h2 class="text-4xl font-bold leading-tight text-center text-white md:text-4xl ms:max-w-xl md:text-left">
    Prepare with ease
  </h2>

  <div>
    <a href="#" class="btn-sec">Get started</a>
  </div>
  </div>

</section>

<!-- Worship with us -->
<section id="worship">
  <div class="container flex flex-col items-center justify-between px-6 py-24 mx-auto space-y-12
  md:py-12 md:flex-row md:space-y-0">
  <h2 class="text-4xl font-bold leading-tight text-center text-darkblue md:text-4xl ms:max-w-xl md:text-left">
    Worship with us
  </h2>

  <div class="flex flex-col space-y-4">
    <div class="text-2xl font-semibold text-darkGrayishBlue">
      <p class="leading-tight">Every Sunday at 9:00am</p>
      <p class="leading-tight">Every Wednesday at 6:00pm</p>
    </div>

    <div class="text-1xl font-semibold text-darkGrayishBlue">
        <p class="leading-tight">Grace and Truth Christain Center</p>
      <p class="leading-tight">7 Tunde Abimbola Street, Magodo Phase 2,</p>
      <p class="leading-tight">Off Tokunbo Macaulay Street, </p>
      <p class="leading-tight">Shangisha, Ketu Lagos, Nigeria</p>
    </div>



       <a class="text-darkblue font-bold tracking-wide flex cursor-pointer" href="https://graceandtruthng.org/" target="_blank">
          <span>More information</span>
          <span>
                 <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
</svg>
          </span>


        </a>
  </div>
  </div>

</section>

<!-- Footer -->
<section id="footer" class="bg-black">
  <p class="text-white text-center px-3 py-4">Developed by <a href="mailto:onafesowale@gmail.com" class="text-lightdarkblue">Wale</a>
</p>
</section>


</ng-container>
